<div class="container-fluid p-3" ng-show="!user || !user.user_id">
    <div>Недостаточно учетных данных <a href="#/login">Войти</a> </div>
</div>
<div ng-show="user && user.user_id" class="container-fluid" style="margin-top: 50px;">
    <div class="row" style="margin-bottom: 60px;">
        <div ng-repeat="idea in myIdeas" class="col-4 d-xl-flex justify-content-xl-start align-items-xl-center" style="padding-left: 15px;" >
            <div class="card" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);width: 445px;">
                <div class="card-body" style="padding-top: 0px;padding-right: 15px;padding-left: 15px;">
                    <div class="row">
                        <div class="rounded mt-1 col d-xl-flex justify-content-xl-center align-items-xl-center" style="background: #8e8e8e47;height: 200px;margin-bottom: 10px;padding-right: 0px;padding-left: 0px;">
                            <img ng-src="{{idea.image? idea.image : 'images/testProjectImage.png'}}" style=" padding-top: 3px;height: 100%;max-width:100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-between">
                            <h4 style="margin-bottom: 30px;font-family: Montserrat, sans-serif;font-size: 20px;color: #707c97;">{{idea.classificator}}</h4>
                            <h4 style="margin-bottom: 30px;font-family: Montserrat, sans-serif;font-size: 20px;color: #707c97;">{{idea.date_create ? idea.date_create: '28.11.2020'  | date:'dd.MM.yyyy' }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 style="font-family: Montserrat, sans-serif;font-weight: bold;">{{idea.project_name}}</h4>
                        </div>
                    </div>
                    <p class="card-text" style="margin-bottom: 30px;">{{idea.project_describe.substring(0, 40)}}..<br><a href=""><br>Читать далее...</a><br></p>
                    <div class="row">
                        <div class="col">
                            <img ng-if="!user || !user.user_id || !user.profile_image "  src="images/icons/default-user.jpg" class="rounded-circle"  >
                            <img ng-if="user && user.user_id && user.profile_image" ng-src="{{user.profile_image}}" class="rounded-circle"  >
                            <a href=" "  class="href-style" style="color: rgb(0,0,0);">{{user.surname + " " + user.firstname}}
                        </a>
                        </div>
                        <div class="col d-flex justify-content-xl-end align-items-xl-center">
                            <img ng-click="like(idea.project_id, 1)" src="images/thumb_up.svg" style="margin-right: 15px;">
                            <p style="margin-right: 15px;margin-bottom: 0px;font-family: Montserrat, sans-serif;color: rgb(18,132,0);font-weight: bold;">
                                {{idea.likes_weight ? likes_weight : 0}}
                            </p>
                            <img ng-click="dislike(idea.project_id, 2)" src="images/thumb_up.png" style="height:20px; width: 20px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 60px;">
        <div class="col">
            <div style="height: 1px;background: #7cb8f7;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 style="font-family: Montserrat, sans-serif;margin-left: -4px;">Идеи</h1>
        </div>
    </div>
    <div class="row" style="margin-bottom: 37px;">
        <div class="col-1 d-flex d-xl-flex align-items-xl-center">
            <p style="color: #707c97;margin-bottom: 0px;">Новые</p>
        </div>
        <div class="col d-xl-flex align-items-xl-center"><button class="btn btn-outline-dark btn-sm" type="button" style="margin-right: 30px;">Button</button><button class="btn btn-outline-dark btn-sm" type="button" style="margin-right: 30px;">Button</button><button class="btn btn-outline-dark btn-sm"
                                                                                                                                                                                                                                                                           type="button" style="margin-right: 30px;">Button</button><button class="btn btn-outline-dark btn-sm" type="button" style="margin-right: 30px;">Button</button></div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row" style="margin-bottom: 35px;">
                <div class="col-12 d-flex d-xl-flex align-items-xl-center">
                    <div class="card" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);width: 100%;">
                        <div class="card-body"><input class="form-control-lg" type="search" style="width: 100%;border-radius: 20px;background: rgb(247,247,247);border-width: 0px;" placeholder="Найти..."></div>
                    </div>
                </div>
            </div>
            <div class="card" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);margin-bottom: 60px;">
                <div class="card-body" style="padding-top: 0px;padding-right: 15px;padding-left: 15px;">
                    <div class="row">
                        <div class="col d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 200px;margin-bottom: 10px;padding-right: 0px;padding-left: 0px;border-top-left-radius: 10px;border-top-right-radius: 10px;"><img style="width: 100%;height: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;"></div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-between">
                            <h4 style="margin-bottom: 30px;font-family: Montserrat, sans-serif;font-size: 20px;color: #707c97;">Категория</h4>
                            <h4 style="margin-bottom: 30px;font-family: Montserrat, sans-serif;font-size: 20px;color: #707c97;">Дата</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 style="font-family: Montserrat, sans-serif;font-weight: bold;">Заголовок</h4>
                        </div>
                    </div>
                    <p class="card-text" style="margin-bottom: 30px;">ТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТИКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕККСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕККСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕККСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕККСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКСТТЕКAA...&nbsp;
                        <a
                                href="#">Читать далее...</a><br></p>
                    <div class="row">
                        <div class="col"><img class="rounded-circle" style="margin-right: 15px;" src="assets/img/24.png"><a href="#" style="color: rgb(0,0,0);">ФИ автора</a></div>
                        <div class="col d-flex justify-content-xl-end align-items-xl-center"><img src="images/thumb_up.svg" style="margin-right: 15px;">
                            <p style="margin-right: 15px;margin-bottom: 0px;font-family: Montserrat, sans-serif;color: rgb(18,132,0);font-weight: bold;">+100</p><img src="images/thumb_up.png" style="width: 20px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Link</a><a class="card-link"
                                                                                                                                                                                                                                                           href="#">Link</a></div>
            </div>
        </div>
    </div>
</div>
