<div class="container-fluid p-3" ng-show="!user || !user.user_id">
    <div>Недостаточно учетных данных <a href="#/login">Войти</a> </div>
</div>
<div ng-show="user && user.user_id" class="container-fluid" style="margin-top: 50px;">
    <div class="row">
        <div class="col">
            <h1 style="font-family: Montserrat, sans-serif;margin-left: -4px;">Мои идеи</h1>
        </div>

    </div>
    <div class="row" style="margin-bottom: 37px;">
        <div class="col-1 d-flex d-xl-flex align-items-xl-center">
            <p style="color: #707c97;margin-bottom: 0px;">Новые идеи</p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 60px;">

        <div ng-repeat="idea in myIdeasShort" class="col-4 mt-2 d-xl-flex justify-content-xl-start align-items-xl-center" style="padding-left: 5px;" >
            <div class="card" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);width: 445px;">
                <div class="card-body" style="padding-top: 0px;padding-right: 15px;padding-left: 15px;">
                    <div class="row">
                        <div class="rounded mt-1 col d-xl-flex justify-content-xl-center align-items-xl-center" style="background: #8e8e8e47;height: 200px;margin-bottom: 10px;padding-right: 0px;padding-left: 0px;">
                            <img ng-src="{{idea.image? idea.image : 'images/testProjectImage.png'}}" style=" padding-top: 3px;height: 100%;max-width:100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-between">
                            <h4 style="margin-bottom: 30px;font-family: Montserrat, sans-serif;font-size: 20px;color: #707c97;">{{idea.classificator}}</h4>
                            <h4 style="margin-bottom: 30px;font-family: Montserrat, sans-serif;font-size: 20px;color: #707c97;">{{idea.date_create ? idea.date_create: '28.11.2020'  | date:'dd.MM.yyyy' }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 style="font-family: Montserrat, sans-serif;font-weight: bold;">{{idea.project_name}}</h4>
                        </div>
                    </div>
                    <p class="card-text" ng-click="redirectToProject(idea.project_id)" style="margin-bottom: 30px;">{{idea.project_describe.substring(0, 40)}}..<br><a href=""><br>Читать далее...</a><br></p>
                    <div class="row">
                        <div class="col text-nowrap">
                            <img ng-if="!user || !user.user_id || !user.profile_image "  src="images/icons/default-user.jpg" class="rounded-circle" style="width: 50px; height: 50px" >
                            <img ng-if="user && user.user_id && user.profile_image" ng-src="{{user.profile_image}}" class="rounded-circle" style="width: 50px; height: 50px" >
                            <a href="#/users"  class="text-nowrap href-style" style="color: rgb(0,0,0);">{{user.surname + " " + user.firstname}}
                            </a>
                        </div>
                        <div class="col text-nowrap d-flex justify-content-xl-end align-items-xl-center">
                            <img ng-click="like(idea.project_id, 1)" class="pointer"  src="images/thumb_up.svg" style="margin-right: 15px;">
                            <p style="margin-right: 15px;margin-bottom: 0px;font-family: Montserrat, sans-serif;color: rgb(18,132,0);font-weight: bold;">
                                {{idea.likes_weight ? idea.likes_weight  : 0}}
                            </p>
                            <img ng-click="dislike(idea.project_id, 2)" class="pointer" src="images/thumb_up.png" style="height:20px; width: 20px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 60px;">
        <div class="col">
            <div style="height: 1px;background: #7cb8f7;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 style="font-family: Montserrat, sans-serif;margin-left: -4px;">Мои идеи</h1>
        </div>
    </div>
    <div class="row" style="margin-bottom: 37px;">
        <div class="col-1 d-flex d-xl-flex align-items-xl-center">
            <p style="color: #707c97;margin-bottom: 0px;">Все идеи</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row" style="margin-bottom: 35px;">
                <div class="col-12 d-flex d-xl-flex align-items-xl-center">
                    <div class="card" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);width: 100%;">
                        <div class="card-body"><input ng-model="searchString" class="form-control-lg" type="search" style="width: 100%;border-radius: 20px;background: rgb(247,247,247);border-width: 0px;" placeholder="Найти..."></div>
                    </div>
                </div>
            </div>
            <div class="card" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);margin-bottom: 60px;">
                <div class="card-body" style="padding-top: 0px;padding-right: 15px;padding-left: 15px;">
                    <div ng-repeat="project in myIdeas | filter:searchString" ng-class="{'pt-3':$index!=0}" class="pb-3 border-bottom border-info">
                        <div class="row">
                            <div class="rounded mt-1 col d-xl-flex justify-content-xl-center align-items-xl-center" style="background: #8e8e8e47;height: 300px;margin-bottom: 10px;padding-right: 0px;padding-left: 0px;">
                                <img ng-src="{{project.image? project.image : 'images/testProjectImage.png'}}" style=" padding-top: 3px;height: 300px;max-width:100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-between">
                                <h4 style="margin-bottom: 30px;font-family: Montserrat, sans-serif;font-size: 20px;color: #707c97;">{{project.classificator}}</h4>
                                <h4 style="margin-bottom: 30px;font-family: Montserrat, sans-serif;font-size: 20px;color: #707c97;">{{project.date_create ? project.date_create: '28.11.2020'  | date:'dd.MM.yyyy' }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4 style="font-family: Montserrat, sans-serif;font-weight: bold;">{{project.project_name}}</h4>
                            </div>
                        </div>
                        <p class="card-text" ng-click="redirectToProject(project.project_id)" style="margin-bottom: 30px;">{{project.project_describe.substring(0, 55)}}..<br><a href="">Читать далее...</a><br></p>
                        <div class="row">
                            <div class="col">
                                <img ng-if="!project.author_image "  src="images/icons/default-user.jpg" class="rounded-circle"  style="width: 50px; height: 50px">
                                <img ng-if="project.author_image" ng-src="{{project.author_image}}" class="rounded-circle" style="width: 50px; height: 50px" >
                                <a href="#/users"  class="href-style" style="color: rgb(0,0,0);">{{project.author_surname + " " + project.author_firstname}}
                                </a>
                            </div>
                            <div class="col d-flex justify-content-xl-end align-items-xl-center">
                                <img ng-click="like(project.project_id, 1)" class="pointer"  src="images/thumb_up.svg" style="margin-right: 15px;">
                                <p style="margin-right: 15px;margin-bottom: 0px;font-family: Montserrat, sans-serif;color: rgb(18,132,0);font-weight: bold;">
                                    {{project.likes_weight ? project.likes_weight : 0}}
                                </p>
                                <img ng-click="dislike(project.project_id, 2)" class="pointer"  src="images/thumb_up.png" style="height:20px; width: 20px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Какие то информативные тексты</h4>
                    <h6 class="text-muted card-subtitle mb-2">Титл</h6>
                    <p class="card-text">Описание описание и тп.</p>
                    <a class="card-link" href="#/project">Проекты</a>
                </div>
            </div>
        </div>
    </div>
</div>
