<div class="container-fluid p-3" ng-show="!user || !user.user_id">
    <div>Недостаточно учетных данных <a href="#/login">Войти</a> </div>
</div>
<div ng-show="user && user.user_id" class="container-fluid" style="margin-top: 50px;">
    <div class="row mt-2" style="margin-bottom: 20px;">
        <div class="col-5">
            <div class="d-inline-block">
                <h1 style="font-family: Montserrat, sans-serif;">Пользователи</h1>

            </div>
        </div>
        <div class="col-4">
            <div class="text-right">
                <button class="btn btn-primary px-3 py-2 ml-0 rounded" ng-click="createUserModal()" type="submit">
                    <i class="fas fa-plus" style="margin-right: 9px;"></i>Новый пользователь
                </button>
            </div>
        </div>
    </div>
    <div class="row" style="height: 92%;">
        <div class="col-9" style="margin-right: 24px;">
            <div class="card mb-2">
                <div class="card-body" style="padding: 0px;">
                    <div class="table-responsive"  ng-if="users && users.length>0">
                        <table class="table">
                            <thead>
                            <tr style="height: 65px;">
                                <th class="pointer" width="50"></th>
                                <th class="pointer" width="50">Фото</th>
                                <th class="pointer" width="150" ng-click="reverse1=!reverse1; order(reverse1, 'lastname')" >ФИО</th>
                                <th class="pointer"  ng-click="reverse2=!reverse2; order(reverse2, 'region_name')">Регион</th>
                                <th class="pointer"  ng-click="reverse3=!reverse3; order(reverse3, 'login')">Логин</th>
                                <th class="pointer"  ng-click="reverse4=!reverse4; order(reverse4, 'company')">Компания</th>
                                <th class="pointer"  ng-click="reverse5=!reverse5; order(reverse5, 'department')">Подразделение</th>
                                <th class="pointer"  ng-click="reverse6=!reverse6; order(reverse6, 'position')">Должность</th>
                                <th class="pointer" ng-if="user.role == 1">Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in users |orderObjectBy:sortType:reverse">
                                <td>{{$index+1}}</td>
                                <td>
                                    <img ng-if="!user || !user.user_id || !user.profile_image "  src="images/icons/default-user.jpg" class="rounded-circle" style="margin-bottom: 18px;width: 50px;height: 50px;"  >
                                    <img ng-if="user && user.user_id && user.profile_image" ng-src="{{user.profile_image}}" class="rounded-circle" style="margin-bottom: 18px;width: 50px;height: 50px;">
                                </td>
                                <td>
                                    <span>{{user.lastname + ' ' + user.firstname + ' '+ user.surname}}</span>
                                </td>
                                <td>
                                    <span>{{user.region_name}}</span>
                                </td>
                                <td>
                                    <span>{{user.login}}</span>
                                </td>
                                <td>
                                    <span>{{user.company}}</span>
                                </td>
                                <td>
                                    <span>{{user.department}}</span>
                                </td>
                                <td>
                                    <span>{{user.position}}</span>
                                </td>
                                <td>
                                    <div  ng-mouseleave="user.isOpenedEdit= false" class="btn-group " ng-class="{'open': user.isOpenedEdit}">

                                        <div class="pointer">
                                            <i ng-click="user.isOpenedEdit=!user.isOpenedEdit" class="fas fa-ellipsis-h fa-lg"></i>
                                        </div>
                                        <ul  ng-mouseenter="user.isOpenedEdit= true"  class="dropdown-menu p-2" style="margin-left: -100px;">
                                            <li><a href="" ng-click="editUserModal(user)"><i class="fa fa-pencil fa-fw"></i>&nbsp;Редактировать</a></li>
                                            <li><a href="" onclick="alert('not realized')"><i class="fa fa-trash-o fa-fw"></i>&nbsp;Удалить</a></li>
                                            <li class="divider"></li>
                                            <li><a ng-click="user.isOpenedEdit=!user.isOpenedEdit && !inUserTableHover" href=""><i class="fa fa-close"></i>&nbsp;Закрыть</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col" style="margin-bottom: 25px;">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Общая статистика</h4>
                            <h6 class="text-muted card-subtitle mb-2">Предложено проблем: {{countOfIdeas}}</h6>
                            <h6 class="text-muted card-subtitle mb-2">Предложено идей: {{countOfIdeas}}</h6>
                            <h6 class="text-muted card-subtitle mb-2">Доведено до внедрения: {{countOfDone}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
