<div class="container-fluid p-3" ng-show="!user || !user.user_id">
    <div>Недостаточно учетных данных <a href="#/login">Войти</a> </div>
</div>
<div ng-show="user && user.user_id" class="container-fluid" style="margin-top: 50px;">
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-12 d-xl-flex justify-content-between align-items-xl-center">
            <h1 style="font-family: Montserrat, sans-serif;margin-left: -4px;">Создать идею</h1>

    </div>
    <div class="row">
        <div class="col-5 mb-2" style="margin-right: 25px;">
            <div class="card" style="box-shadow: 0px 0px rgba(33,37,41,0.05);border-style: none;margin-bottom: 32px;">
                <div class="card-body" style="box-shadow: 0px 5px 20px rgba(33,37,41,0.25);border-radius: 11px;">
                    <p ng-if="kanbanStatus" style="margin-bottom: 0px;font-family: Montserrat, sans-serif;color: #707C97;">Будет добавлено в стадию: <b>{{kanbanStatus.status_name}}</b></p>
                    <br><p style="margin-bottom: 0px;font-family: Montserrat, sans-serif;color: #707C97;">Название идеи</p>
                    <input ng-model="project.project_name" class="form-control" type="text" style="width: 100%;margin-bottom: 25px;padding-left: 0px;background: rgba(255,255,255,0); ">
                    <p style="font-family: Montserrat, sans-serif;color: #707C97;margin-bottom: 0px;">Категория идеи</p>
                    <select placeholder="Регион" class="form-control my-2 mx-1" ng-model="project.project_class">
                        <option ng-repeat="clasif in projectClassificators"
                                value="{{clasif.class_id}}">
                            {{clasif.class_name}}
                        </option>
                    </select>
                    <br><p style="margin-bottom: 0px;font-family: Montserrat, sans-serif;color: #707C97;">Ссылка на фото проекта</p>
                    <input ng-model="project.image" class="form-control" type="text" style="width: 100%;margin-bottom: 25px;padding-left: 0px;background: rgba(255,255,255,0); ">
                    <!--<div class="row" style="margin-bottom: 10px;">
                        <div class="col">
                            <p class="d-flex flex-row justify-content-between align-items-xl-center" style="margin-bottom: 10px;font-family: Montserrat, sans-serif;color: #707C97;">Фотография<i class="fas fa-plus" style="font-size: 25px;color: #128A10;"></i></p>
                        </div>
                    </div>-->
                    <!--<div class="row" style="margin-right: 0px;margin-left: 0px;margin-bottom: 20px;">
                        <div class="card" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);margin-bottom: 20px;width: 100%;">
                            <div class="card-body" style="padding-right: 15px;padding-left: 15px;">
                                <div class="row d-xl-flex align-items-xl-center">
                                    <div class="col">
                                        <div class="row" style="padding-right: 15px;padding-left: 15px;"><button ng-click="downloadFile()" class="btn btn-sm" type="button" style="margin-right: 30px;background: rgba(42,139,242,0.25);border-radius: 15px;color: #2A8BF2;padding-right: 15px;padding-left: 15px;padding-top: 5px;padding-bottom: 5px;">
                                            <i class="far fa-file-alt" style="margin-right: 10px;color: #2A8BF2;"></i>файл.jpg</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="row d-xl-flex" style="padding-bottom: 10px;">
                        <div class="col">

                            <p  class="d-flex justify-content-between align-items-xl-center" style="margin-bottom: 10px;font-family: Montserrat, sans-serif;color: #707C97;">Прикрепления</p>
                            <label class="btn-info   border rounded  p-2"  style="margin-bottom: 20px;font-family: Montserrat, sans-serif;color: #707C97;" ng-class="{'disabled':uploadFiles.length>=5}">
                                <i  class="fa fa-plus text-white">
                            </i>&nbsp;Добавить файл<input id="attachFiles" name="file" multiple type="file" style="display: none;" onchange="angular.element(this).scope().attachFile()"></label>
                        </div>
                    </div>
                    <div class="row" ng-show="uploadFiles.length>0" style="margin-right: 0px;margin-left: 0px;">
                        <div class="card" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);margin-bottom: 20px;width: 100%;">
                            <div class="card-body" style="padding-right: 15px;padding-left: 15px;">
                                <div class="row d-xl-flex align-items-xl-center">
                                    <div class="col">
                                        <div class="row mb-2" ng-repeat="lectureAttachment in uploadFiles" style="padding-right: 15px;padding-left: 15px;">
                                            <button class="btn btn-sm" type="button" style="margin-right: 30px;background: rgba(42,139,242,0.25);border-radius: 15px;color: #2A8BF2;padding-right: 15px;padding-left: 15px;padding-top: 5px;padding-bottom: 5px;" ng-click="downloadFile()">
                                            <i class="far fa-file-alt" style="margin-right: 10px;color: #2A8BF2;"></i>{{lectureAttachment.name}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card" style="box-shadow: 0px 0px rgba(33,37,41,0.05);border-style: none;margin-bottom: 30px;">
                <div class="card-body" style="box-shadow: 0px 5px 20px rgba(33,37,41,0.25);border-radius: 11px;">
                    <p class="d-flex justify-content-between align-items-xl-center" style="margin-bottom: 20px;font-family: Montserrat, sans-serif;color: #707C97;">Авторы
                        <!--<button class="btn" type="button" style="background: linear-gradient(-92deg, #2a8bf2, #7cb8f7);color: rgb(255,255,255);font-family: Montserrat, sans-serif;font-size: 20px;box-shadow: 0px 4px 20px rgba(0,0,0,0.25);"><i class="fas fa-plus" style="margin-right: 9px;"></i>Добавить автора</button>-->
                    </p>
                    <div class="row" style="margin-right: 0px;margin-left: 0px;">
                        <div class="card" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);margin-bottom: 20px;width: 100%;">
                            <div class="card-body" style="padding-right: 15px;padding-left: 15px;">
                                <div class="row">
                                    <div class="col text-nowrap">
                                        <div class="row">
                                            <div class="col-2 d-xl-flex justify-content-xl-center align-items-xl-center">
                                                <img style="margin-bottom: 18px;width: 50px;height: 50px;" ng-if="!user || !user.user_id || !user.profile_image "  src="images/icons/default-user.jpg" class="rounded-circle"  >
                                                <img style="margin-bottom: 18px;width: 50px;height: 50px;" ng-if="user && user.user_id && user.profile_image" ng-src="{{user.profile_image}}" class="rounded-circle"  >
                                            </div>
                                            <div class="col d-flex flex-column justify-content-around">
                                                <h4 style="font-family: Montserrat, sans-serif;margin-bottom: 0px;">{{user.surname + ' ' + user.firstname}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 d-xl-flex justify-content-xl-center align-items-xl-center"><i class="fas fa-times" style="color: rgb(234,14,0);font-size: 30px;"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="box-shadow: 0px 0px rgba(33,37,41,0.05);border-style: none;">
                <div class="card-body" style="box-shadow: 0px 5px 20px rgba(33,37,41,0.25);border-radius: 11px;">
                    <p class="d-flex justify-content-between align-items-xl-center" style="margin-bottom: 20px;font-family: Montserrat, sans-serif;color: #707C97;">Руководитель
                        <button ng-click="createTeamLeader=true" class="btn" type="button" style="background: linear-gradient(-92deg, #2a8bf2, #7cb8f7);color: rgb(255,255,255);font-family: Montserrat, sans-serif;font-size: 20px;box-shadow: 0px 4px 20px rgba(0,0,0,0.25);"><i class="fas fa-plus" style="margin-right: 9px;"></i>Добавить руководителя</button>
                    </p>
                    <div ng-show="createTeamLeader==true" class="row" style="margin-right: 0px;margin-left: 0px;">
                        <div class="card" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);margin-bottom: 20px;width: 100%;">
                            <div class="card-body" style="padding-right: 15px;padding-left: 15px;">
                                <div class="row">
                                    <div class="col-2 d-xl-flex justify-content-xl-center align-items-xl-center">
                                        <img style="margin-bottom: 18px;width: 65px;height: 65px;" ng-if="!user || !user.user_id || !user.profile_image "  src="images/icons/default-user.jpg" class="rounded-circle"  >
                                        <img style="margin-bottom: 18px;width: 65px;height: 65px;" ng-if="user && user.user_id && user.profile_image" ng-src="{{user.profile_image}}" class="rounded-circle"  >
                                    </div>
                                    <div class="col d-flex flex-column justify-content-around">
                                        <h4 style="font-family: Montserrat, sans-serif;margin-bottom: 0px;">{{user.surname + ' ' + user.firstname}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row" style="margin-bottom: 30px;">
                <div class="col">
                    <div class="card" style="box-shadow: 0px 0px rgba(33,37,41,0.05);border-style: none;">
                        <div class="card-body" style="box-shadow: 0px 5px 20px rgba(33,37,41,0.25);border-radius: 11px;">
                            <p style="margin-bottom: 9px;font-family: Montserrat, sans-serif;color: #707C97;">Описание действительного положения с указанием существующих недостатков:<br></p>
                            <textarea ng-model="project.project_describe" class="form-control-lg" style="width: 100%;height: 166px;margin-bottom: 25px;"></textarea>
                            <p style="margin-bottom: 9px;font-family: Montserrat, sans-serif;color: #707C97;">Описание предлагаемого решения:<br></p>
                            <textarea ng-model="project.project_offer" class="form-control-lg" style="width: 100%;height: 166px;margin-bottom: 25px;"></textarea>
                            <p style="margin-bottom: 9px;font-family: Montserrat, sans-serif;color: #707C97;">Ожидаемый положительный эффект от использования (технический, организационный, управленческий или иной):<br></p>
                            <textarea ng-model="project.project_profit" class="form-control-lg" style="width: 100%;height: 166px;"></textarea></div>
                    </div>
                </div>
            </div>
            <div class="row float-right">
                <button ng-click="addProject()" class="btn text-nowrap" type="button" style="height: 55px; width: 300px;background: linear-gradient(-92deg, #2a8bf2, #7cb8f7);color: rgb(255,255,255);font-family: Montserrat, sans-serif;font-size: 25px;box-shadow: 0px 5px 20px rgba(0,0,0,0.25);"><i class="fas fa-plus" style="margin-right: 9px;"></i>Добавить идею</button>
            </div>
        </div>

    </div>
</div>
