<div class="container-fluid p-3" ng-show="!user || !user.user_id">
    <div>Недостаточно учетных данных <a href="#/login">Войти</a> </div>
</div>
<div ng-show="user && user.user_id" class="container-fluid" style="margin-top: 50px;">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 d-xl-flex justify-content-between align-items-xl-center">
                    <h1 style="font-family: Montserrat, sans-serif;margin-left: -4px;font-size: 36px;">{{project.project_name}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex">
                    <p style="color: #707c97;margin-right: 80px;font-family: Montserrat, sans-serif;font-size: 18px;">{{project.date_create}}</p>
                    <p style="color: #707c97;font-family: Montserrat, sans-serif;font-size: 18px;">{{project.classificator}}</p>
                </div>
            </div>
            <div class="row" style="padding-right: 20px;">
                <div class="card mb-2" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);">
                    <div class="card-body" style="padding-top: 0px;padding-right: 15px;padding-left: 15px;">
                        <div class="row" style="margin-bottom: 13px;">
                            <div class="col d-flex d-xl-flex justify-content-xl-center align-items-xl-center" style=" margin-bottom: 10px;padding-right: 0px;padding-left: 0px;">
                                <img ng-src="{{project.image? project.image : 'images/testProjectImage.png'}}" style="width: 100%;padding-top: 3px;height: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col text-nowrap">
                                <div class="row mb-2" ng-show="project.projectStatus">
                                    <div class="col"  style="padding-left: 15px;margin-bottom: 10px;">
                                        <h6 style="color: #2A8BF2;font-family: Montserrat, sans-serif;padding-left: 30px;padding-right: 30px;font-size: 18px;">Стадия проекта</h6>
                                        <p style="font-family: Montserrat, sans-serif;padding-left: 30px;padding-right: 30px; ">{{ project.projectStatus.status_name }}</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col text-nowrap" style="padding-left: 15px;margin-bottom: 10px;">
                                        <h6 style="color: #2A8BF2;font-family: Montserrat, sans-serif;padding-left: 30px;padding-right: 30px;font-size: 18px;">Автор</h6>
                                        <div style="color: #2A8BF2;font-family: Montserrat, sans-serif;padding-left: 30px;padding-right: 30px; ">
                                            <img ng-if="!user || !user.user_id || !user.profile_image "  src="images/icons/default-user.jpg" class="rounded-circle" style="width: 50px; height: 50px;" >
                                            <img ng-if="user && user.user_id && user.profile_image" ng-src="{{user.profile_image}}" class="rounded-circle" style="width: 50px; height: 50px;" >
                                            <a href="#/users"  class="text-nowrap href-style" style="color: rgb(0,0,0);">{{user.surname + " " + user.firstname}}</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col"  style="padding-left: 15px;margin-bottom: 10px;">
                                        <h6 style="color: #2A8BF2;font-family: Montserrat, sans-serif;padding-left: 30px;padding-right: 30px;font-size: 18px;">Описание</h6>
                                        <p style=" font-family: Montserrat, sans-serif;padding-left: 30px;padding-right: 30px; white-space: break-spaces;">{{ project.project_describe }}</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col"  style="padding-left: 15px;margin-bottom: 10px;">
                                        <h6 style="color: #2A8BF2;font-family: Montserrat, sans-serif;padding-left: 30px;padding-right: 30px;font-size: 18px;">Категория</h6>
                                        <p style=" font-family: Montserrat, sans-serif;padding-left: 30px;padding-right: 30px; ">{{ project.class_name }}</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col" style="padding-left: 10px;margin-bottom: 10px;">
                                        <button ng-click="getProjectReport()" class="btn text-nowrap" type="button" style="margin-left: 30px;margin-bottom: 10px; background: linear-gradient(-92deg, #2a8bf2, #7cb8f7);font-size: 16px; color: rgb(255,255,255);font-family: Montserrat, sans-serif;  box-shadow: 0px 4px 20px rgba(0,0,0,0.25);">
                                            <i class="fas fa-download" style="margin-right: 9px;"></i>Загрузить шаблон заявления</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col">
                                <div class="row" style="padding-left: 15px;margin-bottom: 10px;">
                                    <h6 style="color: #2A8BF2;font-family: Montserrat, sans-serif;padding-left: 30px;padding-right: 30px;font-size: 18px;">Прикрепления</h6>
                                </div>
                                <div style="padding-left: 30px;margin-bottom: 10px;" ng-if="!documents.length>0">
                                    Нет прикреплений
                                </div>
                                <div ng-repeat="doc in documents" class="row" style="padding-left: 15px;">
                                    <button ng-click="downloadFile(doc)" title="Загружен от {{doc.upload_date | date:'dd.MM.yyyy mm:HH'}}" class="btn btn-sm" type="button" style="margin-right: 30px;margin-left: 30px;background: rgba(42,139,242,0.25);border-radius: 15px;color: #2A8BF2;padding-right: 15px;padding-left: 15px;padding-top: 5px;padding-bottom: 5px;">
                                        <i class="far fa-file-alt" style="margin-right: 10px;color: #2A8BF2;"></i>{{doc.document_name}}</button></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row" style="padding-left: 15px;margin-bottom: 10px;">
                                    <h6 style="color: #2A8BF2;font-family: Montserrat, sans-serif;padding-left: 30px;padding-right: 30px;font-size: 18px;">Экспертное мнение</h6>
                                </div>
                                <div class="row" style="margin-left: 30px;margin-right: 30px;">
                                    <div class="card" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);margin-bottom: 20px;width: 100%;">
                                        <div class="card-body" style="padding-right: 15px;padding-left: 15px;">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div ng-if="!expertLikes.length>0">
                                                                Нет экспертных мнений
                                                            </div>
                                                            <div ng-repeat="expertLike in expertLikes" class="border-bottom text-info py-2">
                                                                <div class="row " >
                                                                    <div class="col-1 d-xl-flex justify-content-xl-center align-items-xl-center">
                                                                        <img ng-if="!expertLike.like_author_profile_image "   src="images/icons/default-user.jpg" class="rounded-circle"  style="width: 50px; height: 50px;" >
                                                                        <img ng-if=" expertLike.like_author_profile_image"  ng-src="{{expertLike.like_author_profile_image}}" class="rounded-circle"  style="width: 50px; height: 50px;" >
                                                                    </div>
                                                                    <div class="col d-flex flex-column justify-content-around">
                                                                        <a href="#/users"  class="href-style" style="color: rgb(0,0,0);">{{expertLike.surname + " " + expertLike.firstname}}</a>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="offset-1 col d-flex flex-column justify-content-around">
                                                                        <a href=""  class="href-style" style="color: rgb(0,0,0);">{{expertLike.expert_link}}</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="row" style="padding-right: 15px;padding-left: 15px;">
                                                                 <button ng-click="downloadFile()" class="btn btn-sm" type="button" style="margin-right: 30px;background: rgba(42,139,242,0.25);border-radius: 15px;
                                                                 color: #2A8BF2;padding-right: 15px;padding-left: 15px;padding-top: 5px;padding-bottom: 5px;">
                                                                     <i class="far fa-file-alt" style="margin-right: 10px;color: #2A8BF2;"></i>файл.doc</button>
                                                             </div>-->
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5  " style="height: 1500px">
            <div class=" ">
                <div class="card p-2" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);">
                    <div class="card-body"  >
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li class="nav-item" role="presentation"><a ng-class="{'active': selectedPage == 1}" ng-click=" selectedPageF(1)" class="nav-link text-black-50" role="tab" data-toggle="tab" href="" style="font-family: Montserrat, sans-serif;font-size: 36px;">Комментарии</a></li>
                            <li class="nav-item" role="presentation"><a ng-class="{'active': selectedPage == 2}" ng-click=" selectedPageF(2)" class="nav-link text-black-50" role="tab" data-toggle="tab" href="" style="font-size: 36px;font-family: Montserrat, sans-serif;">Оценки</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" ng-show="selectedPage == 1" role="tabpanel" id="tab-1">
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col" >
                                        <div class="row mb-3" style="margin-left: 5px;margin-right: 5px;">
                                            <div class="col text-right">
                                                <textarea ng-model="userComment" class="form-control"></textarea>
                                                <button ng-click="sendComment(userComment)" class="btn text-right" type="button" style="height: 45px;background: linear-gradient(-92deg, #2a8bf2, #7cb8f7);color: rgb(255,255,255);font-family: Montserrat, sans-serif;width: 250px;font-size: 16px;box-shadow: 0px 4px 20px rgba(0,0,0,0.25);">
                                                    <i class="fas fa-comment" style="margin-right: 9px;">
                                                    </i>Отправить</button>
                                            </div>
                                            <!--<button class="btn">Отправить</button>-->
                                        </div>
                                        <div class="row" style="margin-left: 20px;margin-right: 20px;">
                                            <div class="card" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);margin-bottom: 20px;width: 100%;">
                                                <div class="card-body" style="padding-right: 15px;padding-left: 15px;">
                                                    <div class="row"  ng-if="!comments.length>0">
                                                        <div class="col">Нет комментариев</div>
                                                    </div>
                                                    <div class="row" ng-repeat="comment in comments" style="margin-bottom: 25px;">

                                                        <div class="col-2 mt-3">
                                                            <img ng-if="!comment.profile_image "  src="images/icons/default-user.jpg" class="rounded-circle"  >
                                                            <img ng-if=" comment.profile_image" ng-src="{{comment.profile_image}}" class="rounded-circle"  >
                                                        </div>
                                                        <div class="row">
                                                            <div class="col text-nowrap mt-2">
                                                                <a  href="#/users" style="color: rgb(0,0,0);" class="href-style d-flex d-xl-flex flex-row" style="font-family: Montserrat, sans-serif;margin-bottom: 0px;">
                                                                    {{comment.surname + ' ' + comment.firstname}}</a> <span>{{comment.date?comment.date:'28.11.2020' | date:'dd.MM.yyyy mm:HH'}}</span>
                                                                <p class="text-black-50" style="color: #707C97;font-size: 20px;">{{comment.comment}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" ng-show="selectedPage == 2"  >
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col">

                                        <div class="row"  ng-if="!likes.length>0">
                                            <div class="col">Нет оценок</div>
                                        </div>
                                        <div class="row" ng-repeat="like in likes" style="margin-bottom: 25px;">
                                            <div class="card" style="border-radius: 10px;box-shadow: 0px 4px 20px rgba(33,37,41,0.25);margin-bottom: 20px;width: 100%;">
                                                <div class="card-body" style="padding-right: 15px;padding-left: 15px;">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="row">
                                                                <div class="col-2 d-xl-flex justify-content-xl-center align-items-xl-center">
                                                                    <img ng-if="!like.like_author_profile_image "   src="images/icons/default-user.jpg" class="rounded-circle"  style="width: 50px; height: 50px;" >
                                                                    <img ng-if=" like.like_author_profile_image"  ng-src="{{like.like_author_profile_image}}" class="rounded-circle"  style="width: 50px; height: 50px;" >
                                                                </div>
                                                                <div class="col d-flex flex-column justify-content-around">
                                                                    <a href="#/users"  class="href-style" style="color: rgb(0,0,0);">{{like.surname + " " + like.firstname}}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="like.likestatus_id == 1" class="col-2 d-xl-flex justify-content-xl-center align-items-xl-center"><img src="images/thumb_up.svg" style="width: 41px;"></div>
                                                        <div ng-if="like.likestatus_id == 2" class="col-2 d-xl-flex justify-content-xl-center align-items-xl-center"><img src="images/thumb_up.png" style="width: 41px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>